*{
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}

.first_box{
	width: 100%;
	font-family: 'bodyy';
	margin-top: 55px;
}

.first_1{
	width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.inner_1{
	width: 50%;
	height: 400px;
	display: flex;
	flex-direction: column;
    justify-content: flex-start;
	background-color: black;
	color: white;
	align-items: center;
}
.list{
	margin-top: 20px;
    font-size: 24px;
}
.places-dham{
	margin-top: 10px;
	list-style: none;
	font-size: 20px;
}
.paraS{
	margin-top: 13px !important;
    margin: 0 auto;
    font-size: 17px;
    padding: 0px 20px;
    text-align: center;
}
.HeadingS{
	margin-top: 18px;
	text-align: center;
}
.fa-camera{
	margin-left: 10px;
	color: #f5f832;
	--fa-animation-duration: 2s;
}
.fa-cog{
	margin-right: 9px;
	color: rgb(255 141 0);
	--fa-animation-duration: 5s;
}
.fa-person-hiking{
	margin-left: 10px;
	color: deepskyblue;
	--fa-animation-duration: 2s;
	font-size: 37px;
}

.inner_2{
	width: 50%;
	height: 400px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
    justify-content: flex-start;
	background-color: black;
	color: white;
	align-items: center;
}
.pogo{
	transition: all 0.5s ease-out;
	width: 101%;
    height: 100%;
	filter: brightness(1);
}
.scall{
	margin-right: 9px;
	color: rgb(255 141 0);
	--fa-animation-duration: 2s;
	--fa-beat-scale: 1.3;
}
.fa-plane{
	margin-right: 10px;
	color: palegreen;
	--fa-animation-duration: 3s;
	--fa-animation-delay:1s;
}


.Second_box{
	width: 100%;
	margin-top: 30px;
	font-family: 'bodyy';
}

.Second_1{
	width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.Second_in1{
	width: 50%;
	height: 400px;
}
.fa-snowflake{
	margin-left: 10px;
	color: aqua;
	--fa-animation-duration: 5s;
	font-size: 37px;
}
.fa-water{
	margin-left: 10px;
	color: aqua;
	--fa-animation-duration: 2s;
	font-size: 37px;
}
.fa-tree{
	margin-left: 10px;
	color: rgb(0, 255, 34);
	--fa-animation-duration: 2s;
	--fa-beat-fade-opacity: 0.67;
	font-size: 37px;
}


.Second_in2{
	width: 50%;
	height: 400px;
	background-color: black;
	color: white;
	display: flex;
	flex-direction: column;
    justify-content: flex-start;
	align-items: center;
}

.height_1.inner_2 {
    height: 400px;
}


.Third_Box{
	width: 100%;
	margin-top: 40px;
	font-family: 'bodyy';
}


.Third_one{
	width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.Third_in1{
	width: 50%;
	height: 400px;
	background-color: black;
	color: white;
	display: flex;
	flex-direction: column;
    justify-content: flex-start;
	align-items: center;
}

.Third_in2{
	width: 50%;
	height: 400px;
	overflow: hidden;
	margin: 3px;
}
.pogo:hover{
	transform: scale(1.1);
	filter: brightness(1.2);
}

.height_3.inner_2{
    height: 400px;
}




.top-headi{
	text-align: center;
	margin-top: 40px;
}
.top-headi > h1{
	font-size: 42px;
	font-family: 'my';
}
.fa-route{
	color: #79a535;
    font-size: 50px;
    margin-left: 11px;
}
.top-headi > p{
	font-size: 20px;
	margin: 0 auto;
	font-family: 'bodyy';
}


@media(max-width: 992px){
	.top-headi h1{
		font-size: 25px;
		display: block;
		margin-top: 10px;
	}
	.top-headi p{
		font-size: 17px;
		padding: 0px 8px;
	}
	.first_1{
		width: 100%;
		display: block;

	}
	.inner_1, .inner_2{
		width: 100%;
		transform: scale(0.9);
	}
		.Second_1{
		width: 100%;
		display: block;
	}
	.Second_in2{
		width: 100%;
		transform: scale(0.9);
	}
	.Third_one{
		width: 100%;
		display: block;

	}
	.Third_in1{
		width: 100%;
		transform: scale(0.9);
	}	

}





@media(max-width: 768px){

}



@media(max-width: 576px){
	.first_1{
		width: 100%;
		display: block;
		border: 1px solid grey;
	}
	.inner_1, .inner_2{
		width: 100%;
		transform: scale(0.9);
	}
	.Second_1{
		width: 100%;
		display: block;
		border: 1px solid grey;

	}
	.Second_in2{
		width: 100%;
		transform: scale(0.9);
	}
	.Third_one{
		width: 100%;
		display: block;
	}
	.Third_in1{
		width: 100%;
		transform: scale(0.9);
	}

}























@media(max-width: 420px){
	.top-headi h1{
		font-weight: 600;
	}
	.inner_1, .inner_2{
    	height: 420px;
	}
	.HeadingS{
		font-size: 20px;
	}
	.paraS{
		font-size: 14px;
	}
	.list{
		font-size: 18px;
		margin-top: 50px;
	}
	.List_item{
		font-size: 17px;
	}
}